.config/WebCord
.config/dconf
.config/pipewire
.config/pulse
.config/JetBrains
.config/QtProject.conf
.config/libreoffice
.config/zoom.conf
.config/zoomus.conf
.config/HTTPie
.config/CrossCode
.config/Electron
.config/glib-2.0
.config/gtk-3.0
.config/procps
.config/discord
.config/pulse
.config/ghc/
.config/nextjs-nodejs/
.config/sxhkd/
.config/vesktop/
.config/bspwm
.config/calibre
.config/discordcanary
